@import 'tailwindcss';

@theme {
    --font-primary: "Poppins", sans-serif;
    --color-primary: #D8FF7E;
    --color-secondary: #000000;
    --color-tertiary: #FFFFFF;
    --color-secondary-soft: #1D1D1D;
    --color-muted: #7F7F7F;
    --color-error: #F0625C;
    --color-admin: #FF9800;
    --color-office: #2196F3;
    --color-driver: #669698;

    /* MESSAGE POPUPS ANIMATION
        - be careful modifying the animation duration, its used too in the component js
        - component: global/pop-up-notification.blade.php
     */
    --animate-show-popup: show-popup 6s ease-in-out ;
    @keyframes show-popup {
        0%{
            opacity: 0;
        }
        10%{
            opacity: 100%;
        }
        90%{
            opacity: 100%;
        }
        100% {
            opacity: 0;
        }
    }

    /* HERO PAGE SLIDER */
    --animate-slide-images: slide-images 50s linear infinite;
    @keyframes slide-images {
        from{
            transform: translateX(0);
            opacity: 0;
        }
        15%{
            opacity: 100%;
        }
        85%{
            opacity: 100%;
        }
        to{
            transform: translateX(-50%);
            opacity: 0;
        }
    }
}
