@import 'tailwindcss';

@theme {
    --font-primary: "Poppins", sans-serif;
    --color-primary: #D8FF7E;
    --color-secondary: #000000;
    --color-tertiary: #FFFFFF;
    --color-secondary-soft: #1D1D1D;
    --color-muted: #7F7F7F;
    --color-error: #F0625C;
    --color-admin: #FF9800;
    --color-office: #2196F3;
    --color-driver: #669698;
}
